header.header
    h3 
        a(href=routes.home) MISSED
    
    span
        a(href=routes.search) Search

    ul
        if user.authentication
            li
                a(href=routes.upload) Upload
            li
                a(href=routes.profile) Profile
            li Logout
        else
            li
                a(href=routes.join) Join
            li Login