header.header
    .header__column.logo
        a(href=routes.home)
            i.fas.fa-camera-retro
            |  MISSED
    
    .header__column.search
        form(method="get", action=routes.search)
            input(type="text", placeholder="검색", name="term")

    .header__column
        ul
            li 
                a(href="") 컬렉션
            li
                a(href="") 둘러보기
                
            if loggedUser
                li
                    a(href=routes.photo+routes.uploadPhoto) 올리기
                li
                    a(href=routes.user+'/'+loggedUser.id) #{loggedUser.name}
                li
                    a(href=routes.logout) 로그아웃
            else
                li
                    a(href=routes.login) 로그인
                li
                    a(href=routes.join) 회원가입