header.header
    .header__column.logo
        a(href=routes.home) MISSED
    
    .header__column.search
        input(type="text", placeholder="검색")

    .header__column
        ul
            if user.authentication
                li
                    a(href=routes.photo+routes.uploadPhoto) 올리기
                li
                    a(href=routes.user+routes.me) 프로필
                li 로그아웃
            else
                li
                    a(href=routes.join) 회원가입
                li
                    a(href=routes.login) 로그인