extends layouts/main

block content
    .photo-detail
        h2=photo.title
        img(src=`/${photo.fileUrl}`)
        h5
            a(href=routes.user+'/'+photo.creator.id)=photo.creator.name
        
        if loggedUser && loggedUser.id === photo.creator.id
            span
                a(href=routes.editPhoto(photo.id)) 수정
            span
                a(href=routes.deletePhoto(photo.id)) 삭제