extends layouts/main
block content

    .photo-detail-container
        img(src=`/${photo.fileUrl}`, alt=tags.toString())

        .photo-detail__creator-container
            h2=photo.title
            img.photo-detail__profile(src=`/${photo.creator.avatarUrl ? photo.creator.avatarUrl : "static/img/profile.jpg"}`)
            a.photo-detail__creator(href=routes.user+'/'+photo.creator.id)  #{photo.creator.name}
        .photo-detail
            .tag-container
                each tag in tags
                    a(href=`${routes.search}?term=${tag}`)
                        .tag=tag

            .photo-detail-info
                span #{photo.createdAt.toISOString().split('T')[0].replace(/-/g,".")}
                span(title="조회수")
                    i.fas.fa-eye
                    | #{photo.views}
                span
                    i.far.fa-heart.like(data-id=`/${photo.id}`)
                    | #{likeCnt}
                span
                    i.fas.fa-file-download
                    | #{photo.downloadCnt}

                .photo-detail-info__right
                    span 해상도 - #{`${dimensions.width} × ${dimensions.height}`}

            if loggedUser && loggedUser.id === photo.creator.id
                .photo-detail__menu
                    a(href=routes.editPhoto(photo.id))
                        Button.menu ✏ 수정
                    a(href=routes.deletePhoto(photo.id))
                        Button.menu ✖ 삭제