extends layouts/main

block content
    .photo-detail-container
        img(src=`/${photo.fileUrl}`)

        .photo-detail
            h2=photo.title
            img(src=`/${photo.creator.avatarUrl}`)
            span
                a(href=routes.user+'/'+photo.creator.id)=photo.creator.name
            
            span 다운로드수 #{photo.downloadCnt}회
            
            if loggedUser && loggedUser.id === photo.creator.id
                .photo-detail__menu
                    a(href=routes.editPhoto(photo.id))
                        Button ✏ 수정
                    a(href=routes.deletePhoto(photo.id))
                        Button ✖ 삭제