extends layouts/main

block content
    .photo-detail-container
        .photo-detail__creator
            h2=photo.title
            img.photo-detail__profile(src=`/${photo.creator.avatarUrl}`)
            a(href=routes.user+'/'+photo.creator.id)  #{photo.creator.name}
        img(src=`/${photo.fileUrl}`)

        .photo-detail
            span 좋아요 #{photo.downloadCnt}회
            span 다운로드 #{photo.downloadCnt}회
            .tag-container
                each tag in tags
                    .tag=tag
            
            if loggedUser && loggedUser.id === photo.creator.id
                .photo-detail__menu
                    a(href=routes.editPhoto(photo.id))
                        Button ✏ 수정
                    a(href=routes.deletePhoto(photo.id))
                        Button ✖ 삭제