extends layouts/main
include mixins/photoBlock

block content
    .profile-container
        img.profile__img(src=`/${user.avatarUrl}`)
        span.profile__name=user.name
        
        if loggedUser && loggedUser.id === user.id
            .profile__btn-container
                a(href=routes.user+routes.editProfile) 
                    Button.profile__btn ✏ 프로필 수정
                a(href=routes.user+routes.changePassword)
                    Button.profile__btn 🔐 비밀번호 변경

        p.profile__bio=user.bio

        .home-photos
            .home-photos__column
                each item in photos[0]
                    +photoBlock({
                        id:item.id,
                        title:item.title,
                        fileUrl:item.fileUrl,
                        creator:item.creator.name
                    })
            .home-photos__column
                each item in photos[1]
                    +photoBlock({
                        id:item.id,
                        title:item.title,
                        fileUrl:item.fileUrl,
                        creator:item.creator.name
                    })
            .home-photos__column
                each item in photos[2]
                    +photoBlock({
                        id:item.id,
                        title:item.title,
                        fileUrl:item.fileUrl,
                        creator:item.creator.name
                    })