mixin photoBlock(photo = {})
    .photoBlock
        a(href=routes.photoDetail(photo.id))
            .photoBlock__info
                h2.photoBlock__info__title=photo.title

                .photoBlock__info__creator-container
                    img.photoBlock__info__avatar(src=`/${photo.avatarUrl}`)
                    span.photoBlock__info__creator #{photo.creator}

                    .photoBlock__info__creator-container__menu
                        span.likeCnt=photo.likeUsers.length
                        i.far.fa-heart.like(data-id=`/${photo.id}`)
                        i.fas.fa-file-download(data-id=`/${photo.id}`,data-src=`/${photo.fileUrl}`)

        img.photoBlock__thumbnail(src=`/${photo.fileUrl}`)