mixin photoBlock(photo = {})
    .photoBlock
        a(href=routes.photoDetail(photo.id))
            .photoBlock__info
                h2.photoBlock__info__title=photo.title

                .photoBlock__info__creator-container
                    img.photoBlock__info__avatar(src=`/${photo.avatarUrl ? photo.avatarUrl : "static/img/profile.jpg"}`)
                    span.photoBlock__info__creator #{photo.creator}

                    .photoBlock__info__creator-container__menu
                        span.likeCnt=photo.like
                        i.fas.fa-heart.like(data-id=`/${photo.id}`, title="좋아요 😍")
                        i.fas.fa-file-download(data-id=`/${photo.id}`,data-src=`/${photo.fileUrl}`, title="다운로드")

        img.photoBlock__thumbnail(src=`/${photo.fileUrl}`)